################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Csr.XmlBuilder/.vs/Csr.XmlBuilder
/src/Csr.XmlBuilder/obj
